body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  font-family: 'Proxima Nova', 'proxima-nova', sans-serif;
  color: white;
  background: url('../images/blur2.jpg') no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  font-size: 20px;
}
textarea,
input,
.btn {
  font-family: 'Proxima Nova', 'proxima-nova', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
  padding: 1em 0;
}
.container {
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}
.container-large {
  max-width: 1800px;
}
.mobile .section-1 {
  background: url('../images/blur2.jpg') no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.header .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-1 {
  height: 100vh;
  overflow: hidden;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}
.section-1 a:link,
.section-1 a:visited {
  color: white;
}
.section-1 .container {
  padding-top: 20vh;
}
@media all and (max-height: 850px) {
  .section-1 .container {
    padding-top: 5vh;
  }
}
.circuitry-title {
  font-weight: 300;
  font-size: 72px;
  text-rendering: optimizeLegibility;
  color: white;
  text-decoration: none;
}
.free-disclaimer {
  padding-top: 4px;
  margin-left: 4px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.download {
  font-size: 24px;
  margin-top: 96px;
  display: inline-block;
  width: 300px;
  text-decoration: none;
  display: block;
  -webkit-transition: color 0.2s ease-out;
}
.download img {
  vertical-align: middle;
  padding-right: 12px;
  padding-bottom: 5px;
  width: 28px;
  height: 28px;
}
.download:hover {
  color: #4a90e2;
}
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.3;
  }
}
.bottom-arrow {
  background: url('../images/up@2x.png') no-repeat center;
  background-size: 37px 22px;
  position: absolute;
  padding-bottom: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  -webkit-animation: fadeInOut 1s linear infinite;
}
.android-beta {
  margin-top: 48px;
  font-size: 13px;
  font-weight: light;
}
.android-beta-form {
  overflow: hidden;
  font-size: 14px;
  -webkit-transition: opacity 0.2s ease-in-out;
}
.android-beta-form input[type=email] {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  font-weight: 200;
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  font-size: 18px;
  outline: none;
  height: 40px;
  vertical-align: middle;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
  width: 150px;
}
.android-beta-form input[type=email]:focus {
  border: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5) inset;
}
.android-beta-form #android_beta_btn {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3000;
}
.android-beta-form button {
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  height: 40px;
  color: white;
  cursor: pointer;
  min-width: 48px;
}
.android-beta-form button:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.android-beta-form button:active {
  background: rgba(0, 0, 0, 0.8);
}
.ipad-vertical.white {
  background: url('../images/ipad-white-vertical.png');
  width: 441px;
  height: 655px;
  background-size: 441px 655px;
  position: relative;
}
.ipad-vertical.white .ipad-screen {
  position: absolute;
  left: 25px;
  top: 67px;
  width: 392px;
  height: 521px;
}
.ipad-screen {
  overflow: hidden;
}
.ipad-screen .ipad-screen-full {
  position: absolute;
  left: 0;
  top: 0;
}
.ipad-horizontal.black {
  width: 609px;
  height: 413px;
  background: url('../images/ipad-black-horizontal.png');
  background-size: 609px 413px;
  position: relative;
}
.ipad-horizontal.black .ipad-screen {
  position: absolute;
  left: 65px;
  top: 25px;
  width: 479px;
  height: 359px;
}
.ipad {
  margin: auto;
}
.ipad img {
  max-width: 100%;
}
.ipad-unit {
  width: 60%;
  margin-left: 40%;
}
.hero-unit {
  text-align: left;
  width: 40%;
  float: left;
  padding-top: 150px;
  font-size: 15px;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.0;
  }
  20% {
    opacity: 0.0;
  }
  30% {
    opacity: 1.0;
  }
  70% {
    opacity: 1.0;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    opacity: 0.0;
  }
}
#screen_one {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@media all and (max-width: 750px) {
  body {
    font-size: 14px;
  }
  .ipad-unit {
    float: none;
    margin: auto;
    width: 100%;
    margin-top: 80px;
  }
  .hero-unit {
    float: none;
    margin: auto;
    width: 100%;
  }
  .section-1 {
    height: auto;
  }
  .bottom-arrow {
    display: none;
  }
  div.footer-social-links {
    float: none;
    margin: auto;
    text-align: left;
    padding-bottom: 14px;
  }
}
.section-white {
  background: white;
  color: black;
  font-size: 1em;
}
.section-white h3 {
  color: #4A90E2;
  font-size: 20px;
  font-weight: bold;
  margin-top: 36px;
}
.section-white p {
  text-align: justify;
}
@media all and (max-width: 1300px) {
  .one-third p {
    text-align: center;
  }
}
@media all and (max-width: 850px) {
  div.split-thirds .one-third {
    display: block;
    width: 100%;
    margin: 0;
  }
}
.section-2 .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.split-thirds {
  text-align: center;
}
.split-thirds .one-third {
  vertical-align: top;
  overflow: hidden;
  width: 28%;
  display: inline-block;
  margin-left: 5%;
}
.split-thirds .one-third:first-child {
  margin-left: 0;
}
.split-thirds:after {
  clear: left;
}
.gallery {
  background: #757575;
  padding: 32px 0;
}
.gallery .container {
  overflow: hidden;
}
.gallery-image {
  display: inline-block;
  margin-right: 32px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.6);
  background: white;
}
.gallery-image img {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.58, 1);
}
.gallery-image:hover img {
  z-index: 100;
  -webkit-transform: scale(2, 2);
}
.footer {
  background: #E4E4E4;
  color: #929292;
  padding-top: 48px;
  padding-bottom: 48px;
  font-size: 14px;
}
.footer a:link,
.footer a:visited {
  color: inherit;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer p {
  padding: 0.5em 0;
}
.footer-link-sep:before {
  content: '/';
  padding-left: 9px;
  padding-right: 9px;
  display: inline-block;
  text-align: center;
}
.footer-main-info-author {
  margin-top: 0.5em;
  font-size: 21px;
}
.footer-social-links {
  float: right;
}
.social-link {
  display: inline-block;
  background: #949494 no-repeat center;
  border-radius: 60px;
  width: 60px;
  height: 60px;
}
.social-link:not(:first-child) {
  margin-left: 24px;
}
.social-link-facebook {
  background-image: url('../images/facebook@2x.png');
  background-size: 16px 34px;
}
.social-link-facebook:hover {
  background-color: #3A589B;
}
.social-link-twitter {
  background-image: url('../images/twitter@2x.png');
  background-size: 29px 24px;
}
.social-link-twitter:hover {
  background-color: #598DCA;
}
.footer-small {
  margin-top: 100px;
}
.btn {
  padding: 8px;
  border: 2px solid #4A90E2;
  background: white;
  color: #4A90E2;
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.btn:hover {
  background-color: #4A90E2;
  color: white;
}
